body {
  background-color: hsl(0, 0%, 100%);
  color: hsla(0, 4%, 21%, 0.969);
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0 auto;
}

h1,
h2 {
  font-family: "Tourney", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}

h3,
h4,
h5,
h6 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
}

h1,
h2 {
  text-align: center;
}

div.hero {
  background-image:
    linear-gradient(hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0.7)),
    url("../assets/images/hero-above-the-fruited-plain.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.5;
  margin: 0;
  padding: 175px 0;
  text-align: center;
}

div.hero-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.hero p {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

.hero-h1 {
  background-color: transparent;
  color: hsl(0, 0%, 100%);
  margin: 0;
  padding: 10px 4px;
}

.hero a {
  background-color: hsl(356, 75%, 40%);
  border: 1px solid hsla(0, 0%, 0%, 0.51);
  border-radius: 16px;
  box-shadow: 2px 3px 4px hsl(0deg 0% 0% / 80%);
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-family: "Tourney", sans-serif;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 0 10px;
  padding: 20px 20px;
  text-decoration: none;
  width: 240px;
}

.hero a:visited {
  color: hsl(0, 0%, 100%);
}

.hero a:hover {
  text-decoration: none;
}

.hero a:active,
a.jump-to-top:active {
  transform: translate(1px, 1px);
}

h1 {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  font-size: 48px;
  margin: 0;
  padding: 30px 0;
  text-transform: uppercase;
}

.home-h2 {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  font-size: 34px;
  padding: 30px 5px;
  margin: 0;
  text-transform: uppercase;
}

p.overview {
  font-size: 22px;
  padding: 0 20px;
}

h3 {
  font-size: 28px;
}

nav {
  background-color: hsl(356, 75%, 40%);
  padding: 30px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}

main.home ul {
  padding-inline-start: 20px;
}

main.home li {
  font-size: 18px;
  font-weight: 600;
  padding: 5px 0;
  overflow-wrap: break-word;
}

main.home section {
  padding: 10px;
}

main.home section.about-partner,
main.home section.about-wns {
  padding: 30px 8px 10px 8px;
}

section.about img {
  max-width: 400px;
  height: auto;
}

section.about h2 {
  text-align: center;
}

section.about h3 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

section.about p {
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.5em;
}

section.about ul {
  padding-inline-start: 20px;
}

section.about li {
  padding: 5px 0;
  overflow-wrap: break-word;
  font-size: 17px;
  line-height: 1.5;
}

section.about a {
  font-weight: 600;
}

section.about,
section.about-wns,
section.about-partner {
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 100%);
}

section.about-partner {
  border-top: 1px solid hsl(0, 0%, 80%);
}

div.image-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 30px;
  padding: 20px 10px;
}

div.image-grid img {
  border: 6px solid hsl(0, 0%, 0%);
  max-height: 300px;
}

img {
  border: 1px solid hsl(0, 0%, 66%);
  border-radius: 20px;
  max-width: 100%;
  height: 100%;
}

figure {
  margin: 0 auto;
  text-align: center;
}

section.about-wns {
  padding: 0 8px;
}

p.attribution {
  font-style: italic;
  margin: 0;
  text-align: right;
}

.italics {
  font-style: italic;
}

a.jump-to-top {
  background-color: hsl(0, 0%, 100%);
  border: 3px solid hsl(0, 0%, 0%);
  border-radius: 8px;
  box-shadow: 3px 3px hsl(0, 0%, 0%);
  color: hsl(0, 0%, 0%);
  display: block;
  font-family: "Tourney", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0 auto 20px auto;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  width: 240px;
}

a.jump-to-top:hover {
  text-decoration: none;
}

a.jump-to-top:visited {
  color: hsl(0, 0%, 0%);
}

footer {
  align-items: center;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 11px;
  justify-content: space-evenly;
  padding: 10px 20px;
  text-align: center;
}

footer div {
  margin: 0 5px;
}

footer a {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}

a {
  color: hsl(356, 75%, 40%);
  font-weight: 600;
  text-decoration: underline;
}

nav a {
  color: hsl(0, 0%, 100%);
  font-size: 24px;
  font-weight: 700;
}

nav a:hover {
  text-decoration: none;
}

nav a:visited {
  color: hsl(0, 0%, 100%);
}

@media only screen and (max-width: 768px) {
  nav {
    padding: 30px 5px;
    margin: 0 auto;
  }
  div.hero {
    padding: 110px 0;
  }

  div.image-grid {
    display: flex;
    flex-wrap: wrap;
  }

  section.about-wns,
  section.about-partner {
    display: block;
  }
}

/* small screens (phones) */
@media only screen and (max-width: 576px) {
  nav a {
    font-size: 22px;
  }

  h1 {
    font-size: 36px;
  }

  div.image-grid img {
    width: 100%;
    height: auto;
    max-height: 400px;
  }
  div.image-grid img.railrunner {
    width: 97%;
  }

  section.about article {
    padding: 10px;
  }

  section.about p,
  section.about li {
    font-size: 16px;
  }

  section.about img {
    max-width: 100%;
    height: auto;
  }

  footer {
    text-align: left;
  }

  footer div.divider {
    border-right: 1px solid hsla(34, 86%, 94%, 0.65);
  }
}
